* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}


.header-main-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.logo {
    width: 100px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    gap: 10px
}

.menu ul li a {
    padding: 10px;
    text-decoration: none;
    color: black;

}

.menu ul li a:hover {
    background-color: orange;

}

.reg-btn {
    background-color: #2563EB;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
}

.reg-btn:hover {
    background-color: orange;
}

.reg-btn a {
    text-decoration: none;
    color: aliceblue;
}


.header-hero {
    background-image: url("../image/banner.jpg");
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20%;

}

.header-hero h2 {
    color: white;
    font-size: 2.5rem;
    margin: 50px auto 10px;
}

.header-hero p {
    color: white;
    width: 430px;
    text-align: center;
}

.header-hero button {
    margin-top: auto;
    margin-bottom: 50px;
}

.speakers-section div h2 {
    font-size: 42px;
    text-align: center;
    padding: 25px 0px;
}

.all-speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 7%;
    gap: 30px;
}

.speaker-card {
    border: 0.5px solid rgba(0, 0, 0, 0.324);
    border-radius: 10px;
    overflow: hidden;
}

.innercard {
    margin: 10px;
}

.innercard span {
    color: #2563EB;
    font-size: 12px;
}

.innercard h3 {
    font-size: 20px;
}

.innercard p {
    color: rgba(0, 0, 0, 0.699);
    font-size: 14px;
}

.secure-section-top{
    text-align: center;
}

.secure-section-top h2{
    font-size: 42px;
    padding: 25px 0px 10px;
}
.secure-section-top span{
    color: rgba(0, 0, 0, 0.699);
}
.all-price{
    margin: 20px 10%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.price-card{
border: 1px solid black;
border-radius: 10px;
padding: 30px;
flex: 1;

}

.price-card span{
    color: grey;
    font-size: 16px;
}

.price-card h3{
    font-size: 38px;
}

.price-card hr{
    color: grey;
    margin: 25px 0px;
}

.price-card ul li{
    margin-left: 15px;
    padding-bottom: 10px;
}

.price-card button{
    margin: 20px 0px 10px;
    padding: 10px 0px;
    width: 100%;
    cursor: pointer;
    background-color: white;
    color: #2563EB;
    border: 1px solid #2563EB;
    border-radius: 4px;
}

.price-card button:hover{
    background-color: #2563EB;
    color: white;
    border: 1px solid #2563EB;
}


.pro-card{
    background-color: #0D1B2A;
    color: white;
}

.pro-card button{
    background-color: #2563EB;
    color: white;
}
.pro-card button:hover{
    background-color: white;
    color: #2563EB;
}