*{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}


.header-main-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.logo{
    width: 100px;
}

.menu ul{
    list-style-type: none;
    display: flex;
    gap: 10px
}

.menu ul li a{
    padding: 10px;
    text-decoration: none;
    color: black;

}

.menu ul li a:hover{
    background-color:orange;

}

.reg-btn {
    background-color:Blue;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
}

.reg-btn a{
    text-decoration: none;
    color: aliceblue;
}

.reg-btn:hover{
    background-color: orange;
}

.header-hero{
    background-image: url("../image/banner.jpg");
    height: 480px;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20%;

}

.header-hero h2{
    color: white;
    font-size: 2.5rem;
    margin: 50px auto 10px;
}
.header-hero p{
    color: white;
    width: 430px;
    text-align: center;
}

.header-hero button{
    margin-top: auto;
    margin-bottom: 50px;
}